# Diretórios e arquivos fora do projeto
../../-1.14-windows.xml
../../.3T/
../../.Ld2VirtualBox/
../../.VirtualBox/
../../.android/
../../.astah/
../../.bash_history
../../.cache/
../../.config/
../../.eclipse/
../../.emulator_console_auth_token
../../.gitconfig
../../.gradle/
../../.ionic/
../../.jdks/
../../.lesshst
../../.m2/
../../.nbi/
../../.node_repl_history
../../.p2/
../../.pgAdmin4.783398216.addr
../../.pgAdmin4.783398216.log
../../.pgAdmin4.startup.log
../../.redhat/
../../.vscode/
../App Tasks/
../Car-Match.rar
../../AppData/
../../Contacts/
../../Downloads/
../../Favorites/
../../IdeaProjects/
../../IntelGraphicsProfiles/
../../Links/
../../Music/
../../NTUSER.DAT
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-
